#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 800px;
  padding-top: 20px;
}

.buttons-wrapper {
  padding: 14px;
}

.locations-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.locations-row li {
  margin-right: 10px;
}
